<body>
 <main>
  <div class="container">
    <div class="row">
      <p class="notice"></p>
      <div class="col-xl-12">
        <div class="about-text">
         <h1 class="about-title">About</h1>
         <p class="notice"></p>
         <p class="about-comment">
           ながのCAKEは全国発送可能なケーキ屋さんです。</br>
           お子様からお年寄りの方までお召し上がりいただけるよう、</br>
           様々なバリエーションをご用意しております。</br>
           また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
           ぜひご注文ください。</br>
         </p>

         <div class="about-image d-block">
            <%= image_tag image_path 'background.jpeg' %>
         </div>
      </div>
     </div>
    </div>
  </div>
 </main>
</body>